<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span>LISTADO DE cagadas</span>
          <button class="btn btn-success float-end">bOtOn</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th >Pritty Limon</th>
                <td>Poison</td>
                <td>.75</td>
                <td>Jachal</td>
                <td></td>
              </tr>
              <tr>
                <th>Rosamonte amarguísima</th>
                <td>Yerba</td>
                <td>400</td>
                <td>Misiones</td>
                <td></td>
              </tr>
              <tr>
                <th>Dolca Suave</th>
                <td>cafe</td>
                <td>23</td>
                <td>Colombia</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
